<aside
  class="flex flex-col"
  :class="{'hidden sm:flex sm:flex-col': window.outerWidth > 768}"
>
  <div
    class="flex-grow flex flex-col justify-between text-gray-500 bg-gray-800"
  >
    <nav class="flex flex-col mx-4 my-6 space-y-4">
      <a
        href="/dashboard"
        class="inline-flex items-center py-3 text-blue-600 bg-white rounded-lg px-2"
        :class="{'justify-start': menu, 'justify-center': menu == false}"
      >
        <svg
          aria-hidden="true"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"
          />
        </svg>
        <span class="ml-2" x-show="menu">Dashboard</span>
      </a>
      <a
        href="/dashboard/my_students"
        class="inline-flex items-center py-3 text-blue-600 bg-white rounded-lg px-2"
        :class="{'justify-start': menu, 'justify-center': menu == false}"
      >
        <svg
          aria-hidden="true"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"
          />
        </svg>
        <span class="ml-2" x-show="menu">My Students</span>
      </a>
      <a
        href="/dashboard/my_students"
        class="inline-flex items-center py-3 text-blue-600 bg-white rounded-lg px-2"
        :class="{'justify-start': menu, 'justify-center': menu == false}"
      >
        <svg
          aria-hidden="true"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"
          />
        </svg>
        <span class="ml-2" x-show="menu">My Courses</span>
      </a>
    </nav>
  </div>
</aside>
